{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<!link rel="stylesheet" href="viva/public/stylesheets/docs.css">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="gem-c-breadcrumbs govuk-breadcrumbs " data-module="track-click">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item" aria-current="false">
            <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="https://www.gov.uk/">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="false">
            <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/government/organisations" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Organisations&quot;}"
              class="govuk-breadcrumbs__link" aria-current="false" href="https://www.gov.uk/government/organisations">Organisations</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="false">
            <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/government/organisations" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Organisations&quot;}"
              class="govuk-breadcrumbs__link" aria-current="false" href="https://www.gov.uk/government/organisations/great-britain-china-centre">Great Britain-China Centre</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="page">
            <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="#content" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Department for International Development&quot;}"
              class="govuk-breadcrumbs__link" aria-current="page" href="#content">Great Britain-China Dialogue Program</a>
          </li>
        </ol>
      </div>


      <h1 class="govuk-heading-xl">
        <!img src="https://assets.publishing.service.gov.uk/government/assets/crests/org_crest_18px_x2-dfbfe90a83b73f6495c42c5c5bb529eacb80bbb3b6c4a4ec5d1f4b9042dea739.png" alt="">
          Great Britain-China Dialogue Program
          <br><br>

          <p>

            The Great Britain China Dialogue Program (GBCDP) promotes mutual trust and understanding between the UK and China. GBCDP works for shared prosperity through dialogue.

            <br><br>GBCDP is a government program.

            <meta name="viewport" content="width=device-width, initial-scale=1">
            <style>
              .rectangle {
                height: 5px;
                width: 850px;
                background-color: #002878;
                margin-bottom: 30px;
              }
            </style>


            <div class="govuk-accordion" data-module="accordion" id="accordion-default">

              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                      Run workshop with GBCDP
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                  <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.15752-9/60024150_337061040284656_1891496690850988032_n.jpg?_nc_cat=109&_nc_ht=scontent-lhr3-1.xx&oh=71150f500ba6784df2379b3abcfe19aa&oe=5D2C45B1&dl=1" alt="" width="600"
                    height="400">
                  <p class="gem-c-image-card__context"><time datetime="2019-05-02"> 17 May 2019</time><span aria-hidden="true"> — </span>News story</p>
                  <style>
                    .gem-c-image-card__context {
                      font-family: "nta", Arial, sans-serif;
                      font-weight: 400;
                      text-transform: none;
                      font-size: 12px;
                      line-height: 1.25;
                      margin: 0 0 7.5px;
                      color: #6f777b;
                    }
                  </style>

                  <p>

                    <p>GBCDP has developed a workshop that helps Chinese students to settle into their new school/university more easily as well as develop a global perspective for all participants.
                      This workshop focuses on one of the hottest topic: Internet Censorship. This workshop can be run by staff or students.</p>


                    <h2 class="govuk-heading-s">Workshop preparation:</h2>


                    <ul>

                      <li>
                        <p>Multiple age-appropriate magazines/publications.</p>
                      </li>
                      <li>
                        <p>A similar number of Chinese and non-Chinese participants.</p>
                      </li>
                      <li>
                        <p>Pens in different colours.</p>
                      </li>
                    </ul>

                    <h2 class="govuk-heading-s">Workshop structure:</h2>

                    <p>Separate Chinese and non-Chinese students into two groups ask participants to circle out content that they think would be censored in China. During this process, you can ask them why they think one particular element would be
                      censored.
                      The session normally lasts from 10-20mins depending on the quantity of work and the depth you are planning to go into.
                      <br><br> After the section, count the number of circles then compare two sets of data produced by both groups. Start to discuss why there is a big or small difference. The discussion can focus on one particular content, overall
                      difference or
                      both.
                      Through these discussions, participants will gain a deeper understanding of other cultural views.</p>

                </div>
              </div>
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                      Fact Check with GBCDP
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                  <video controls style="width:150%">
                    <source src="/public/ZEYANG.mp4" type="video/mp4">
                  </video>
<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/k34saTzB-H8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                  <p>
                    Earlier this month a <a href="https://www.independent.co.uk/arts-entertainment/books/news/winnie-the-pooh-disneyland-china-ban-xi-jinping-meme-shanghai-president-a8660461.html">news</a> article from The Independent has caught our
                    program founder Zeyang Zheng's eyes. See the article below: </p>
                  <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.15752-9/60334119_462757024298843_2262611423190319104_n.png?_nc_cat=111&_nc_ht=scontent-lhr3-1.xx&oh=c70d1176234582eeb1b0de2a60c01a9a&oe=5D60EF0C&dl=1" alt="" width="600"
                    height="1424">
                  <p class="gem-c-image-card__context">"Winnie the Pooh 'banned from Disneyland in China' due to Xi Jinping meme"- tiled the article. </p>

                  <div class="govuk-inset-text">
                    "When I saw this article I just couldn't believe it! It sounds absolutely ridiculous to me!" Zeyang commented in a group meeting.
                  </div>
                  <p>Zeyang flights to Shanghai the second morning and heading straight to Disneyland want to find out if this is true.</p>
                  <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.15752-9/60356203_313565062862930_6670169293990133760_n.jpg?_nc_cat=100&_nc_ht=scontent-lhr3-1.xx&oh=e86006a05b912f743ea1db578d5f6caf&oe=5D52A004&dl=1" alt="" width="302"
                    height="403">
                  <p class="gem-c-image-card__context">Ornaments bought from Shanghai Disneyland</p>
                  <p>He came back the second day and showed us the Winnie the Pooh ornament he bought from Shanghai Disneyland to proof the news article is actually not true.</p>
                </div>
              </div>
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                      Collaborate with GBCDP
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                  <p>In recent months, GBCDP has collaborated with London-based non-profit Design Agency <a href="https://zhengzeyang0219.wixsite.com/main">GO-CN</a>.<br> Together we have designed artifacts which promote debate around Social Media and Censorship in China.
                    <br><br>
                    <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.15752-9/60335254_663550317443256_8838809027472261120_n.png?_nc_cat=109&_nc_ht=scontent-lhr3-1.xx&oh=e0383f3a0741874fbc79c568002e0477&oe=5D56414F&dl=1" alt="" "width=" 806"
                      height="402">
                  </p>
                  <p class="gem-c-image-card__context">How Facebook would like as if it's in China.</p>
                  <p>We exhibited artifacts GO-CN has created in the <a href="https://www.facebook.com/events/773990826312206/">WIP show</a> earlier in the year.</p><img
                    src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.15752-9/59898359_337393560301236_565808718013267968_n.jpg?_nc_cat=107&_nc_ht=scontent-lhr3-1.xx&oh=99414154ada0e4a27b928cc45025f2df&oe=5D5168D4&dl=1" "width=" 553" height="322"
                    alt="">
                  <p class="gem-c-image-card__context">Zeyang presenting in the WIP show</p>
                </div>
              </div>
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                      Read more about GBCDP
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                  <p class='govuk-body'>Almost a century ago, Robert Moses’ flyovers physically separated people from different class and ethnical backgrounds.
                    In today’s society, such physical separation has been strongly criticised and slowly erased. As a result, we are constantly seeing and meeting people from different backgrounds. Even with that, sometimes we still find it difficult
                    to communicate with each other: often this is not because of language barriers, but a difference in the social and political environments people grow up in.
                    <br><br>
                    Today, our society is transforming itself into the digital world. New separations arise: some of them are separating us at a country level (for example, the Great Firewall of China), some of them are separating us on an individual
                    basis (for example, the filter bubble phenomenon).
                    <p class="floatright"><br><br><br><img
                        src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.15752-9/60343311_858658731135502_8280972898336768000_n.png?_nc_cat=111&_nc_ht=scontent-lhr3-1.xx&oh=de40eec458e1445ec3a600e2d39b8df3&oe=5D75F512&dl=1" "width=" 149" height="77"
                        alt=""><br> Zeyang Zheng<br><br>Founder of GBCDP <br><br> </p>
                  </p>
                </div>
              </div>
              <style>
                .floatright {
                  float: right;
                  aline: right;
                }
              </style>


            </div>
    </div>







    <div class="shortrectangle"></div>



    <!--
            <h2 class="govuk-heading-m">About this page</h2>

            <p>We recommend you add links to your prototype to this page, rather than delete it.
              You'll find this page in the kit at '/app/views/index.html'.</p>

            <p>You can change the service name by editing the file '/app/config.js'.</p>

            <h2 class="govuk-heading-m">Examples and documentation</h2>

            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
              <li>
                <a href="https://design-system.service.gov.uk">
                  GOV.UK Design System
                </a>
              </li>
            </ul>
            -->
  </div>
  </div>
  </div>

  {% endblock %}
